<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="HOME" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/auth/home">
    <ion-nav-view name="tabHome"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="ログイン" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/auth/login" ng-hide="isLoggedIn">
    <ion-nav-view name="tabLogin"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->

  <ion-tab title="ログアウト" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/auth/logout" ng-show="isLoggedIn">
    <ion-nav-view name="tabLogout"></ion-nav-view>
  </ion-tab>

</ion-tabs>
