<ion-view view-title="Setting" ng-init="app.getProfile()">
  <ion-content>
    <ul class="list">
      <li class="item">
        user name is : {{profile.name}}
      </li>
    </ul>
    <form ng-submit="app.saveProfile()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="app.profileForm.name">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">更新</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
