<ion-view view-title="AUTH">
  <ion-header-bar>
    <h1 class="title">AUTH</h1>
  </ion-header-bar>
  <ion-content padding="true">
    <h1>AUTH</h1>
    <h2>ユーザ登録について</h2>
    <p>
      ********
    </p>

    <button class="button button-block button-positive" ui-sref="app.home" ng-show="isLoggedIn">
      HOME
    </button>

    <button class="button button-block button-positive" ui-sref="auth.login" ng-hide="isLoggedIn">
      ログイン
    </button>

    <button class="button button-block button-positive" ng-click="auth.facebookSignIn()" ng-show="isLoggedIn && !isLoggedInWithFacebook">
      Facebook 連携
    </button>

    <!-- <button class="button button-block button-positive" ui-sref="app.test">
      app.test
    </button> -->
  </ion-content>
</ion-view>
